{% extends 'base.html' %} {% block base %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} URL Shortener Home{% endblock %}</title>
  </head>
  <body>
    <h1>URL Shortener</h1>

    <form action="your_url" method="post">
      <label for="url">Website URL*</label>
      <input type="url" name="url" id="" value="" required />
      <br />
      <label for="code">Short Name*</label>
      <input type="text" name="code" id="" value="" required />
      <br />
      <input type="submit" value="Shorten" />
    </form>

    <br /><br />
    <form action="your_url" method="post" enctype="multipart/form-data">
      <label for="file">File*</label>
      <input type="file" name="file" id="" value="" required />
      <br />
      <label for="code">Short Name*</label>
      <input type="text" name="code" id="" value="" required />
      <br />
      <input type="submit" value="Shorten" />
    </form>
    <br />

    {% if codes %}
    <h2>Short URLS created by you</h2>
    <ul>
      {% for code in codes %}
      <a href="{{ url_for('redirect_to_url', code=code) }}"
        ><li>{{ code }}</li></a
      >
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
{% endblock %}
