<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>URL Shortener</h1>

    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}

    <form action="your_url" method="post">
      <label for="url">Website URL*</label>
      <input type="url" name="url" id="" value="" required />
      <br />
      <label for="code">Short Name*</label>
      <input type="text" name="code" id="" value="" required />
      <br />
      <input type="submit" value="Shorten" />
    </form>
  </body>
</html>
