<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener - Success!!</title>
  </head>
  <body>
    <h1>Successfully created short URL!!</h1>
    <h2>
      Feel free to try it out ->
      <a href="{{ url_for('redirect_to_url', code=code) }}" target="_blank"
        >{{ code }}</a
      >
    </h2>
    <h2>Back to <a href="{{ url_for('home') }}">home</a> page.</h2>
  </body>
</html>
